/* 
    Document   : all
    Created on : 15-nov-2012, 12:15:40
    Author     : ivan
    Description:
        Purpose of the stylesheet follows.
*/

aside, footer {
    clear:both;
    font-size: 0.75em;
}
